<%- model_class = Folder -%>
<% @itenaries.each do |itenary| %>
<div class="col-sm-12 description-list" >
  <div class="row description-panel">
    <div class="col-sm-5">
      <p class="blog-header"><%= itenary.name.capitalize %></p>
      <p><span class="time"><%= itenary.updated_at %></span> </p>
    </div>
    <div class="col-sm-1 col-sm-offset-3"><i class="fa fa-eye fa-2x cursor-pointer plan-collapse" data-toggle="collapse" data-target="<%=itenary.name%>_plans" data-ajax-url="<%=trip_folder_itenary_path(:trip_id => @trip.name,:folder_id => @folder.name, :id => itenary.name)%>" data-collapsable="<%=itenary.name%>_plans"></i></div>
    <div class="col-sm-1"><i class="fa fa-pencil-square-o fa-2x cursor-pointer pjax-links" data-folder-path="<%=edit_trip_folder_itenary_path(:trip_id => @trip.name,:folder_id => @folder.name, :id => itenary.name)%>"></i> </div>
  </div>
  <div class="row description-panel collapse" id="<%=itenary.name%>_plans">
  </div>
</div>
<% end %>
<div class="col-sm-2">
  <a type="button" class="btn btn-default pjax_links" data-folder-path="<%= new_trip_folder_itenary_path(:trip_id => @trip.name, :folder_id => @folder.name) %>">
    <i class="fa fa-plus"></i> New itenary
  </a>
</div>
<script>
  $(function(){
    $('.plan-collapse').click(function(){
      var element = $(this);
      var id = '#'+element.attr('data-collapsable');
      if($(id).hasClass("in")){
        $(id).collapse('toggle');
      }  
      else{
        $.ajax({
          url : $(this).attr('data-ajax-url'),
          success: function(contents){
            $(id).html(contents);
            $(id).collapse('toggle');
          },
          error: function(){
            console.log('There was an error');
          }
        });
      }
    });
  });
</script>