<%- model_class = Itenary -%>
<div class="col-sm-9">
	<div class="row">
      <div class="col-sm-12">
        <p id="notice"><%= notice %></p>
		<p>
		  <strong>Name:</strong>
		  <%= @itenary.name %>
		</p>
		<p>
		  <strong>Description:</strong>
		  <%= @itenary.short_description %>
		</p>
		<p>
		  <strong>Mode:</strong>
		  <%= @itenary.mode %>
		</p>
      </div>
      <div>
        <div class="row">
          <% @itenary.plans.each do |plan| %>
            <div class="col-xs-4">
              <div class="panel panel-default folder-display-panel" data-folder-path="<%=trip_folder_itenary_plan_path(:trip_id => @trip.name,:folder_id => @folder.name, :itenary_id => @itenary.name, :id => plan.name)%>">
                <div class="panel-body folders-display-body">
                  <div class="overlay-div row">
                    <div class="col-xs-2 col-xs-offset-4 add-margin">
                      <%= link_to trip_folder_itenary_plan_path(:trip_id => @trip.name,:folder_id => @folder.name,:itenary_id => @itenary.name, :id => plan.name ), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => '', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
                       <i class="fa fa-trash-o fa-2x"></i>
                      <%- end -%>
                    </div>
                     <div class="col-xs-2 add-margin">
                      <i class="fa fa-pencil-square-o fa-2x custom-edit-icon" id="" data-folder-edit-path="<%= edit_trip_folder_itenary_plan_path(:trip_id => @trip.name,:folder_id => @folder.name,:itenary_id => @itenary.name, :id => plan.name )%>"></i> 
                    </div>
                  </div>
                  <div class="row content-body">
                    <div class="col-xs-12">
                      <%= raw plan.name %>
                    </div>
                    <div class="col-xs-12 description">
                        <%= plan.updated_at %>
                    </div>
                  </div>
                </div>
                <div class="panel-footer"><h5><%= plan.name.capitalize %></h5></div>
              </div>
            </div>
          <% end %>
        <div class="col-xs-4">
          <div class="panel panel-default ">
            <div class="panel-body">
                New Folder
                <i class="fa fa-plus fa-2x modal_link" data-folder-path="<%=new_trip_folder_itenary_plan_path(:trip_id => @trip.name, :folder_id => @folder.name, :itenary_id => @itenary.name)%>" ></i>
            </div>
            <div class="panel-footer">Panel footer</div>
          </div>
        </div>
       </div>
      </div>
  </div>   
</div>

<div class="col-sm-9">
	
</div>
