<%- model_class = Folder -%>
  <div class="col-sm-10 col-sm-offset-1">
    <div class="row ">
      <div class="page-header col-xs-9">
        <span class="main-heading"><%=t '.title', :default => Trip %>/<%= @trip.name %>/<%= @folder.name %></span>
      </div>
      <div class="new-project-btn-div col-xs-3">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-cog"></i> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to new_trip_folder_path(@trip) do%> New Folder
                <%- end -%></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked custom-sidebar">
          <li class="sidebar-active">
            <a class="sidebar-links" data-folder-path="<%= trip_folder_descriptions_path(:trip_id => @trip.name, :folder_id => @folder.name) %>">Descriptions</a>
          </li>
          <li><a class="sidebar-links" data-folder-path="<%= trip_folder_maps_path(:trip_id => @trip.name, :folder_id => @folder.name) %>" >Maps</a>
          </li>
          <li><a class="sidebar-links" data-folder-path="<%= trip_folder_reminders_path(:trip_id => @trip.name, :folder_id => @folder.name) %>" >Reminders</a>
          </li>
          <li><a class="sidebar-links" data-folder-path="<%= trip_folder_discussions_path(:trip_id => @trip.name, :folder_id => @folder.name) %>" >Discussions</a>
          </li>
          <li><a class="sidebar-links" data-folder-path="<%= activity_trip_folder_path(:trip_id => @trip.name, :id => @folder.name) %>" >Timeline</a>
          </li>
          <li><a class="sidebar-links" data-folder-path="<%= trip_folder_photos_path(:trip_id => @trip.name, :folder_id => @folder.name) %>" >Photos</a>
          </li>
          <li data-active-sidebar="itenary">
            <a class="sidebar-links" data-folder-path="<%= trip_folder_itenaries_path(:trip_id => @trip.name, :folder_id => @folder.name) %>" >Itenary</a>
          </li>
          <li><a href="">Cost</a></li>
          <li><a href="#">Videos</a></li>
        </ul>
      </div>
      <div class="col-sm-9" id="pjax-container">
        <div class="row">
          <% @folder.descriptions.each do |description| %>
            <div class="col-xs-4 ">
              <div class="panel panel-default folder-display-panel" data-folder-path="<%=trip_folder_description_path(:trip_id => @trip.name,:folder_id => @folder.name, :id => description.title)%>">
                <div class="panel-body folders-display-body">
                  <div class="overlay-div row">
                    <div class="col-xs-2 col-xs-offset-4 add-margin">
                      <%= link_to trip_folder_description_path(:trip_id => @trip.name,:folder_id => @folder.name, :id => description.title), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => '', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
                       <i class="fa fa-trash-o fa-2x"></i>
                      <%- end -%>
                    </div>
                     <div class="col-xs-2 add-margin">
                      <i class="fa fa-pencil-square-o fa-2x custom-edit-icon" id="" data-folder-edit-path="<%= edit_trip_folder_description_path(:trip_id => @trip.name,:folder_id => @folder.name, :id => description.title)%>"></i> 
                    </div>
                  </div>
                  <div class="row content-body">
                    <div class="col-xs-12">
                      <%= raw description.description %>
                    </div>
                    <div class="col-xs-12 description">
                        <span class="time"><%= description.updated_at %></span>
                    </div>
                  </div>
                </div>
                <div class="panel-footer"><h5><%= description.title.capitalize %></h5></div>
              </div>
            </div>
          <% end %>
            <div class="col-sm-4">
              <div class="panel panel-default ">
                <div class="panel-body">
                    New Description
                    <%= link_to new_trip_folder_description_path(:trip_id => @trip.name, :folder_id => @folder.name), :method => :get, :class => '', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
                       <i class="fa fa-plus fa-2x"></i>
                    <%- end -%>
                </div>
                <div class="panel-footer">Panel footer</div>
              </div>
            </div>
        </div>
      </div>
      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div>   
  </div>
<script>
  $(function(){
    $(document).on('click','.folder-display-panel, .sidebar-links, .pjax_links', function(){
      $.pjax({
        url: $(this).attr("data-folder-path"),
        container: '#pjax-container'
      }); 
    });

    $('.folder-display-panel').hover(function(){
      $(this).find('.panel-footer').first().addClass('darken');
      $(this).find('.panel-body').first().addClass('whiten');
      $(this).find('.overlay-div').first().show();
      console.log( $(this).find('.panel-footer').first().attr('class'))
    },function(){
       $(this).find('.panel-body').first().removeClass('whiten');
      $(this).find('.panel-footer').first().removeClass('darken');
      $(this).find('.overlay-div').first().hide();
    });

    $(document).on('click','.custom-edit-icon', function(e){
        e.stopPropagation()
       url = $(this).attr('data-folder-edit-path');
       console.log('The value of the uel is ',url);
      $('#myModal').modal({
        remote: url
      })
    });

    $('.time').each(function(){
      $(this).html('updated '+moment($(this).html(), "YYYYMMDD").fromNow());
    });

  })

</script>


