<%- model_class = Address -%>
	<div class="row">
    <div class="col-sm-12">
      <div id="map" class="custom-map"></div>
    </div>
  </div>
  <div class="row address-list-map">
    <div class=" col-sm-6 ">
      <table class="table table-striped">
        <tbody>
          <% @addresses.each_with_index do |address,index| %>
            <tr>
              <% if index == 0 %>
                  <td>From :</td>
              <% else %>
                  <td>To :</td>
              <% end %>
              <td data-folder-path="<%=trip_folder_description_path(:trip_id => @trip.name,:folder_id => @folder.name, :map_id => @map.name, :id => address.address)%>"><%= address.address %></td>
            </tr>
          <% end %>
          <% if @map.addresses.length != 2 %>
            <tr>
              <td>
                <a type="button" class="btn btn-default modal_link btn-xs" data-folder-path="<%=new_trip_folder_map_address_path(:trip_id => @trip.name, :folder_id => @folder.name, :map_id => @map.name)%>">
                <i class="fa fa-plus"></i> Add Address
                </a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <a type="button" id="get_route" class="btn btn-default btn-xs" data-collapsable="map-route-container">
        <i class="fa fa-car"></i> Get Route
      </a>
    </div>
  </div>
  <div class="row collapse plan-list-border" id="map-route-container">
    <div class="col-sm-12">
      <ul id="map-route-list"></ul>
    </div>
  </div>
<script>
  $(function(){
    var original_point =[];
    original_point[0] = [-12.044012922866312, -77.02470665341184]
    original_point[1] = [-12.044012922866312, -77.02470665341184]

    <% if @map.addresses.first %>
    	original_point[0] = [<%= @map.addresses.first.latitude %>,<%= @map.addresses.first.longitude %>]
    	original_point[1] = [<%= @map.addresses.last.latitude %>,<%= @map.addresses.last.longitude %>]
   	<% end %>

    map = new GMaps({
        div: '#map',
        lat: original_point[0][0],
        lng: original_point[0][1]
      });
      $('#get_route').click(function(e){
        e.preventDefault();
        var element = $(this);
        var id = '#'+element.attr('data-collapsable');
        if($(id).hasClass("in")){
          $(id).collapse('toggle');
        }  
        else{
          $(id).collapse('toggle');
          map.travelRoute({
            origin: original_point[0],
            destination: original_point[1],
            travelMode: 'driving',
            step: function(e){
              $('#map-route-list').append('<li>'+e.instructions+'</li>');
              $('#map-route-list li:eq('+e.step_number+')').delay(450*e.step_number).fadeIn(200, function(){
                map.setCenter(e.end_location.lat(), e.end_location.lng());
                map.drawPolyline({
                  path: e.path,
                  strokeColor: '#131540',
                  strokeOpacity: 0.6,
                  strokeWeight: 6
                });
              });
            }
          });
        }
      });
    $('li').click(function(){
      $('.active').removeClass('active');
      $(this).addClass('active');
    }); 
  });

</script>
