<%- model_class = Address -%>
<div class="col-sm-9">
	<div class="row">
    	<div class="col-sm-10">
        <div id="map" class="custom-map"></div>
      </div>
      <div class="col-sm-2">
        <a href="#" id="start_travel" class="btn small">start</a>
        <ul id="instructions">
        </ul>
      </div>
      <div>
        <div class="row">
          <% @map.addresses.each do |address| %>
            <div class="col-xs-4">
              <div class="panel panel-default folder-display-panel" data-folder-path="<%=trip_folder_description_path(:trip_id => @trip.name,:folder_id => @folder.name, :map_id => @map.name, :id => address.address)%>">
                <div class="panel-body folders-display-body">
                  <div class="row">
                    <div class="col-xs-12">
                      <%= raw address.address %>
                    </div>
                    <div class="col-xs-12 description">
                        <%= address.updated_at %>
                    </div>
                  </div>
                </div>
                <div class="panel-footer"><h5><%= address.address.capitalize %></h5></div>
              </div>
            </div>
          <% end %>
          <% if @map.addresses.length != 2 %>
            <div class="col-sm-4">
              <div class="panel panel-default ">
                <div class="panel-body">
                    New Folder
                    <i class="fa fa-plus fa-2x modal_link" data-folder-path="<%=new_trip_folder_map_address_path(:trip_id => @trip.name, :folder_id => @folder.name, :map_id => @map.name)%>" ></i>
                </div>
                <div class="panel-footer">Panel footer</div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>   
</div>
<script>
  $(function(){
    var original_point =[];
    original_point[0] = [-12.044012922866312, -77.02470665341184]
    original_point[1] = [-12.044012922866312, -77.02470665341184]

    <% if @map.addresses.first %>
    	original_point[0] = [<%= @map.addresses.first.latitude %>,<%= @map.addresses.first.longitude %>]
    	original_point[1] = [<%= @map.addresses.last.latitude %>,<%= @map.addresses.last.longitude %>]
   	<% end %>

    map = new GMaps({
        div: '#map',
        lat: original_point[0][0],
        lng: original_point[0][1]
      });
      $('#start_travel').click(function(e){
        e.preventDefault();
        map.travelRoute({
          origin: original_point[0],
          destination: original_point[1],
          travelMode: 'driving',
          step: function(e){
            $('#instructions').append('<li>'+e.instructions+'</li>');
            $('#instructions li:eq('+e.step_number+')').delay(450*e.step_number).fadeIn(200, function(){
              map.setCenter(e.end_location.lat(), e.end_location.lng());
              map.drawPolyline({
                path: e.path,
                strokeColor: '#131540',
                strokeOpacity: 0.6,
                strokeWeight: 6
              });
            });
          }
        });
      });
  })

</script>



<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @map.name %>
</p>

<p>
  <strong>Mode:</strong>
  <%= @map.mode %>
</p>

<p>
  <strong>Description:</strong>
  <%= @map.description %>
</p>

<p>
  <strong>Transport:</strong>
  <%= @map.transport %>
</p>

<%= link_to 'Edit', edit_trip_folder_map_path(:trip_id => @trip.name, :folder_id => @folder.name, :id => @map.name) %> |
<%= link_to 'Back', trip_folder_maps_path(:trip_id => @trip.name, :folder_id => @folder.name) %> -->
