<%= simple_form_for(@description) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :folder %>
    <%= f.input :description %>
    <%= f.input :title %>
    <%= f.input :mode %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
