<%= form_for [@trip,@folder,@description], :html => { :class => 'row post-form top-margin' } do |f| %>
  <div class="row">
    <div class="col-md-6 post-form-medium">
      <%= f.text_field :title, :class => 'text-field form-control nooutline', :placeholder => "Title" %>
    </div>
  </div>
  <div class="row">
      <div id="post_description_div" class="col-md-10 col-md-offset-1 post-form-medium"></div>
      <%= f.text_area :description, :class => 'text-field form-control', :style => "display:none;" %>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <%= f.number_field :mode, :class => 'text-field form-control', :value => 1, :style => "display:none;" %>
    </div>
  </div>

  <div class="row">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  trip_folder_descriptions_path(:trip_id => @trip.name, :folder_id => @folder.name), :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
<script>
   $(function() {
    var editor_description = new MediumEditor('#post_description_div',{
      anchorInputPlaceholder: 'Start your adventure',
      buttons: ['bold', 'italic', 'quote','superscript','subscript','unorderedlist','orderedlist','pre','indent','outdent', 'strikethrough'],
      diffLeft: 25,
      diffTop: 10,
      firstHeader: 'h1',
      secondHeader: 'h2',
      delay: 1000,
      targetBlank: true,
    });


    $(".post-form").submit(function( event ) {
      event.preventDefault();
      $("#description_description").val($('#post_description_div').html());
      console.log('The value is ',$('#post_description_div').html());
      this.submit();

    });
  });
</script>