<%= form_for [@trip,@folder,@description], :html => { :class => 'form-horizontal form-model post-form' } do |f| %>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <div id="post_description_div"></div>
      <%= f.text_area :description, :class => 'text-field form-control', :style => "display:none;" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :title, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :mode, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :mode, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  descriptions_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
<script>
   $(function() {
    var editor = new MediumEditor('#post_description_div',{
      anchorInputPlaceholder: 'Start your adventure',
      buttons: ['bold', 'italic', 'quote','superscript','subscript','unorderedlist','orderedlist','pre','indent','outdent', 'strikethrough'],
      diffLeft: 25,
      diffTop: 10,
      firstHeader: 'h1',
      secondHeader: 'h2',
      delay: 1000,
      targetBlank: true
    });
    $(".post-form").submit(function( event ) {
      event.preventDefault();
      $("#description_description").val($('#post_description_div').html());
      console.log('The value is ',$('#post_description_div').html());
      this.submit();

    });
  });
</script>