<%- model_class = Folder -%>
<div class="row">
  <% @folder.descriptions.each do |description| %>
    <div class="col-sm-12 description-list" >
      <div class="row description-panel">
        <div class="col-sm-5">
          <p class="blog-header"><%= description.title.capitalize %></p>
          <p><span class="time"><%= description.updated_at %></span> </p>
        </div>
        <div class="col-sm-1 col-sm-offset-3"><i class="fa fa-eye fa-2x cursor-pointer pjax_links" data-folder-path="<%=trip_folder_description_path(:trip_id => @trip.name,:folder_id => @folder.name, :id => description.title)%>"></i> </div>
        <div class="col-sm-1"><i class="fa fa-pencil-square-o fa-2x cursor-pointer normal-links" data-folder-path="<%= edit_trip_folder_description_path(:trip_id => @trip.name,:folder_id => @folder.name, :id => description.title)%>"></i> </div>
        <div class="col-sm-1"><%= link_to trip_folder_description_path(:trip_id => @trip.name,:folder_id => @folder.name, :id => description.title), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => '', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
               <i class="fa fa-trash-o fa-2x"></i>
              <%- end -%></div>
      </div>
     <!--  <div class="panel panel-default folder-display-panel" data-folder-path="<%=trip_folder_description_path(:trip_id => @trip.name,:folder_id => @folder.name, :id => description.title)%>">
        <div class="panel-body folders-display-body">
          <div class="overlay-div row">
            <div class="col-sm-2 col-sm-offset-4 add-margin">
              <%= link_to trip_folder_description_path(:trip_id => @trip.name,:folder_id => @folder.name, :id => description.title), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => '', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
               <i class="fa fa-trash-o fa-2x"></i>
              <%- end -%>
            </div>
             <div class="col-sm-2 add-margin">
              <i class="fa fa-pencil-square-o fa-2x custom-edit-icon" id="" data-folder-edit-path="<%= edit_trip_folder_description_path(:trip_id => @trip.name,:folder_id => @folder.name, :id => description.title)%>"></i> 
            </div>
          </div>
          <div class="row content-body">
            <div class="col-xs-12">
              <%= raw description.description %>
            </div>
            <div class="col-xs-12 description">
                <span class="time"><%= description.updated_at %></span>
            </div>
          </div>
        </div>
        <div class="panel-footer"><h5><%= description.title.capitalize %></h5></div>
      </div> -->
    </div>
  <% end %>
    <div class="col-sm-12">
      <a type="button" class="btn btn-default normal-links" data-folder-path="<%=new_trip_folder_description_path(:trip_id => @trip.name, :folder_id => @folder.name)%>">
        <i class="fa fa-plus"></i> New Blog
      </a>
    </div>
</div>

