<%= form_for [@trip,@folder,@map,@address], :html => { :class => 'form-horizontal form-model post-form' } do |f| %>
  <div class="form-group">
    <%= f.label :address, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :address, :class => 'text-field form-control' %>
    </div>
  </div>
   <div class="form-group">
    <div class="col-md-10">
      <%= f.number_field :latitude, :class => 'text-field form-control' %>
    </div>
  </div>
 <div class="form-group">
    <div class="col-md-10">
      <%= f.number_field :longitude, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  descriptions_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>

