<%- model_class = Folder -%>
<div class="row">
  <% @maps.each do |map| %>
    <div class="col-xs-4">
      <div class="panel panel-default folder-display-panel" data-folder-path="<%=trip_folder_map_path(:trip_id => @trip.name,:folder_id => @folder.name, :id => map.name)%>">
        <div class="panel-body folders-display-body">
          <div class="row">
            <div class="col-xs-12">
              <%= raw map.description %>
            </div>
            <div class="col-xs-12 description">
                <%= map.updated_at %>
            </div>
          </div>
        </div>
        <div class="panel-footer"><h5><%= map.name.capitalize %></h5></div>
      </div>
    </div>
  <% end %>
    <div class="col-sm-4">
      <div class="panel panel-default ">
        <div class="panel-body">
            New Folder
            <i class="fa fa-plus fa-2x" id="new-map"></i>
        </div>
        <div class="panel-footer">Panel footer</div>
      </div>
    </div>
</div>
<script>
  $(function(){
    // $(document).on('click','.folder-display-panel', function(){
    //    $.pjax({
    //     url: $(this).attr("data-folder-path"),
    //     container: '#pjax-container']
    //   }); 
    // });

    $(document).on('click','#new-map', function(){
      $.pjax({
        url: "<%= new_trip_folder_map_path(:trip_id => @trip.name, :folder_id => @folder.name) %>",
        container: '#pjax-container'
      }); 
    });

  })

</script>

