<div class="modal-header">
  <h5><%= @plan.name %></h5>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-xs-12">
			<p>
			  <strong>Date time:</strong>
			  <%= @plan.date_time %>
			</p>
			<p>
			  <strong>Short description:</strong>
			  <%= @plan.short_description %>
			</p>
		</div>
		<div class="col-xs-12">
		  <input type="text" placeholder="name of discussion" name="discussions" id="discussion_name">
		  <button id="add_discussion" class="btn btn-primary">Start Discussion</button>
		</div>
		<div class="col-xs-12">
			<a type="button" class="btn btn-default pjax_links close_modal btn-xs" data-folder-path="<%=discussions_trip_folder_itenary_plan_path(:trip_id => @trip.name, :folder_id => @folder.name, :itenary_id =>@itenary.name, :id => @plan.name)%>">
			<i class="fa fa-2x "></i> Discussions
			</a>
		</div>
	</div>
</div>


<script>
  var url = "<%= add_discussion_trip_folder_itenary_plan_path(:trip_id => @trip.name, :folder_id => @folder.name, :itenary_id =>@itenary.name, :id => @plan.name) %>"
  $(function(){
    $('#add_discussion').click(function(){
      $.ajax({
        url:url,
        data: {
          name: $('#discussion_name').val()
        },
        contentType: 'application/json; charset=utf-8',
        success: function(){
          console.log('There was success in adding user');
        },
        error: function(err){
          console.log('Tehre was an error in adding the user ',err);
        }
      })
    });
  })
</script>