<p id="notice"><%= notice %></p>

<p>
  <strong>Date time:</strong>
  <%= @plan.date_time %>
</p>

<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>

<p>
  <strong>Itenary:</strong>
  <%= @plan.itenary_id %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @plan.short_description %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
