
<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    
    <title>Gamma</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'blog/script', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'blog/waypoint', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'blog/style', media: 'all', 'data-turbolinks-track' => true %>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body class="home-template">
    
    

<nav class="navbar navbar-fixed-top header-white navbar-inverse navbar-transparent" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-main">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://gamma.oxygenna.com">Home</a></li>
                <li><a href="http://gamma.oxygenna.com/about">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<header class="blog-header header-white header-overlay align-center align-middle"  style="background-image: url(/content/images/2013/Oct/blog_image-1.png)" >
    <div class="header-inner">
        <div class="container">
            <a class="brand light" href="http://gamma.oxygenna.com" role="banner" >
                
                    <img src="/content/images/2013/Oct/gamma-1.png" alt="Blog Logo" />
                
            </a>
            <h1 class="blog-title light">
                Gamma
            </h1>
            <h2 class="blog-description light bordered bordered-top">
                minimal blogging theme
            </h2>
        </div>
    </div>
</header>


<div id="main" class="content" role="main">
    <div class="container">

        
        

        <article class="post tag-design tag-ghost-post post row">
            <h2 class="post-title text-center super lighter">
                <a href="/whats-wrong-with-mr-doe/">WHATS WRONG WITH MR DOE?</a>
            </h2>
            <div class="post-info text-center bordered-top col-md-2">
                <time datetime="2013-10-24" class="post-time">24 Oct 2013</time>
                 on <span class="post-tags">design, ghost</span>
            </div>
            <div class="post-body bordered-bottom col-md-8">
                <p>You're in! Nice. We've put together a little post to introduce you to the Ghost editor and get you started. Go ahead and edit this post to get going and learn how it all works! Writing in markdown is really easy. In the left hand panel of Ghost, you simply write as you normally would. Where appropriate, you can use formatting shortcuts to style your content. For example, a list: Item number one Item number two A nested item A final item or with numbers! Remember to buy some milk   Drink the milk   Tweet that I remembered to buy the&hellip;</p>
                <a href="/whats-wrong-with-mr-doe/">
                    read more...
                </a>
            </div>
        </article>

        

        <article class="post tag-minimal tag-design tag-jurney post row">
            <h2 class="post-title text-center super lighter">
                <a href="/some-things-are-white/">SOME THINGS ARE JUST WHITE</a>
            </h2>
            <div class="post-info text-center bordered-top col-md-2">
                <time datetime="2013-10-23" class="post-time">23 Oct 2013</time>
                 on <span class="post-tags">minimal, design, jurney</span>
            </div>
            <div class="post-body bordered-bottom col-md-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rhoncus volutpat sapien, vel accumsan justo imperdiet non. Vestibulum laoreet erat nec lorem tristique adipiscing. In ut nisl a lorem euismod mollis a dictum nisl. Proin egestas mauris a eros fringilla, vel molestie turpis pretium. Mauris ullamcorper quis risus ut vestibulum. Integer eu hendrerit nulla. Praesent vitae varius felis. Vestibulum metus leo, sollicitudin sit amet laoreet et, vehicula interdum velit. Nulla semper nisi quis massa ultricies, a tempus risus tincidunt. In tempor, ante sed hendrerit accumsan, eros sem malesuada dui, vel scelerisque ante odio in turpis. Praesent sagittis tempor mauris at&hellip;</p>
                <a href="/some-things-are-white/">
                    read more...
                </a>
            </div>
        </article>

        

        <article class="post tag-ghost-post tag-elements tag-bootstrap post row">
            <h2 class="post-title text-center super lighter">
                <a href="/wanna-see-some-cool-elements/">Wanna see some cool elements?</a>
            </h2>
            <div class="post-info text-center bordered-top col-md-2">
                <time datetime="2013-10-23" class="post-time">23 Oct 2013</time>
                 on <span class="post-tags">ghost, elements, bootstrap</span>
            </div>
            <div class="post-body bordered-bottom col-md-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rutrum velit quis magna iaculis lacinia. Aenean sed nisi condimentum, placerat eros sit amet, lacinia purus. Ut sed euismod mauris. Morbi vitae diam quis diam egestas scelerisque a a ipsum. Duis imperdiet sem ac est consectetur, sed blandit ante molestie. Duis nec sem at dolor auctor vulputate. Donec vestibulum ac elit et sagittis. Sed a tellus ac elit ornare laoreet eget pharetra dui. Cras egestas dictum libero, non hendrerit ligula dignissim ac. Nunc varius lorem at turpis consectetur rutrum. Mauris quis aliquet dolor, convallis vehicula mi. Quisque varius ac nunc eu&hellip;</p>
                <a href="/wanna-see-some-cool-elements/">
                    read more...
                </a>
            </div>
        </article>

        

        <article class="post tag-ghost-post tag-images tag-city post row">
            <h2 class="post-title text-center super lighter">
                <a href="/some-times-it-snows-in-april/">Some times it snows in April</a>
            </h2>
            <div class="post-info text-center bordered-top col-md-2">
                <time datetime="2013-10-22" class="post-time">22 Oct 2013</time>
                 on <span class="post-tags">ghost, images, city</span>
            </div>
            <div class="post-body bordered-bottom col-md-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rutrum velit quis magna iaculis lacinia. Aenean sed nisi condimentum, placerat eros sit amet, lacinia purus. Ut sed euismod mauris. Morbi vitae diam quis diam egestas scelerisque a a ipsum. Duis imperdiet sem ac est consectetur, sed blandit ante molestie. Duis nec sem at dolor auctor vulputate. Donec vestibulum ac elit et sagittis. Sed a tellus ac elit ornare laoreet eget pharetra dui. Cras egestas dictum libero, non hendrerit ligula dignissim ac. Nunc varius lorem at turpis consectetur rutrum. Mauris quis aliquet dolor, convallis vehicula mi. Quisque varius ac nunc eu&hellip;</p>
                <a href="/some-times-it-snows-in-april/">
                    read more...
                </a>
            </div>
        </article>

        

        
        
        <div class="row text-center text-caps">
            <div class="col-md-8 col-md-offset-2">
                <nav class="pagination" role="navigation">
    
    <span class="page-number">Page 1 of 2</span>
    
        <a class="older-posts" href="/page/2/">Older Posts &rarr;</a>
    
</nav>
            </div>
        </div>
        

    </div>
</div>
<footer id="footer"  class="text-center" style="background-image: url(/content/images/2013/Oct/blog_image-1.png)" >
    <div class="container">
        <ul class="social-icons">
        	<li>
        	 	<a href="http://twitter.com/share?text=&url=/"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <i class="icon-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/sharer/sharer.php?u=/"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <i class="icon-facebook"></i>
                </a>
            </li>
            <li>
                <a  href="https://plus.google.com/share?url=/"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <i class="icon-google-plus"></i>
                </a>
            </li>
        </ul>
        <p class="copy-text">
        	All content copyright
        	<a href="/">Gamma</a> &copy; 2013 &bull; All rights reserved.
        </p>
    </div>
</footer>
    <%= yield %>
    <script src="/shared/vendor/jquery/jquery.js?v=0e97bbf6b1"></script>

    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/waypoints.min.js"></script>
    <script type="text/javascript" src="/assets/js/script.js"></script>
</body>
</html>