
<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    
    <title>WHATS WRONG WITH MR DOE?</title>
    <meta name="description" content="" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'blog/script', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'blog/waypoint', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'medium/medium.css', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'medium/themes/default.css', media: 'all', 'data-turbolinks-track' => true %>   
     <%= stylesheet_link_tag    'medium/image_loader/index', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'medium/medium', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'medium/image_loader/medium-editor-insert-plugin.all.min', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'blog/style', media: 'all', 'data-turbolinks-track' => true %>

</head>
<body class="post-template tag-design tag-ghost-post">
    <%= yield %>
</body>
</html>