<!DOCTYPE html>
<html>
<head>
  <title>Travelblog</title>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxDmirbK9yzvj9SIUK5ZwLFnDo1c-ksbY"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'timelineJS/timeline', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'timelineJS/embed', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1"/></head>
<body>
<%= render partial: "elements/navbar" %>
<%= bootstrap_flash %>

<div class="container" >
  <div class="col-sm-10 col-sm-offset-1">
    <div class="row ">
      <div class="page-header col-xs-9">
        <span class="main-heading"><%=t '.title', :default => Trip %>/<%= @trip.name %>/<%= @folder.name %></span>
      </div>
      <div class="new-project-btn-div col-xs-3">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-cog"></i> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to new_trip_folder_path(@trip) do%> New Folder
                <%- end -%></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked custom-sidebar">
          <li  data-active-sidebar="description">
            <a class="sidebar-links" data-folder-path="<%= trip_folder_descriptions_path(:trip_id => @trip.name, :folder_id => @folder.name) %>">Descriptions</a>
          </li>
          <li  data-active-sidebar="map">
            <a class="sidebar-links" data-folder-path="<%= trip_folder_maps_path(:trip_id => @trip.name, :folder_id => @folder.name) %>" >Maps</a>
          </li>
          <li  data-active-sidebar="reminder">
            <a class="sidebar-links" data-folder-path="<%= trip_folder_reminders_path(:trip_id => @trip.name, :folder_id => @folder.name) %>" >Reminders</a>
          </li>
          <li><a class="sidebar-links" data-folder-path="<%= trip_folder_discussions_path(:trip_id => @trip.name, :folder_id => @folder.name) %>" >Discussions</a>
          </li>
          <li  data-active-sidebar="timeline">
            <a class="sidebar-links" data-folder-path="<%= activity_trip_folder_path(:trip_id => @trip.name, :id => @folder.name) %>" >Timeline</a>
          </li>
          <li data-active-sidebar="photo">
            <a class="sidebar-links" data-folder-path="<%= trip_folder_photos_path(:trip_id => @trip.name, :folder_id => @folder.name) %>" >Photos</a>
          </li>
          <li data-active-sidebar="itenary">
            <a class="sidebar-links" data-folder-path="<%= trip_folder_itenaries_path(:trip_id => @trip.name, :folder_id => @folder.name) %>" >Itenary</a>
          </li>
          <li><a href="">Cost</a></li>
          <li><a href="#">Videos</a></li>
        </ul>
      </div>
       <div class="col-sm-9" id="pjax-container">
        <div class="row">
          <%= yield %>
        </div>
      </div>
      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div>   
  </div>
  <script>
    $(function(){
      $('.custom-sidebar').children().each(function(){
        console.log('THe valueb of hen tli is '+ "<%=@model_link%>");
        if($(this).attr('data-folder-path') == "<%=@model_link%>"){
          $(this).addClass("sidebar-active");
        }
      })
      $(document).on('click','.folder-display-panel, .sidebar-links, .pjax_links', function(){
        $.pjax({
          url: $(this).attr("data-folder-path"),
          container: '#pjax-container'
        }); 
      });

      $(document).on('click','.sidebar-links', function(){
        $('.sidebar-active').removeClass("sidebar-active");
        $(this).addClass("sidebar-active");
      });

      $('.folder-display-panel').hover(function(){
        $(this).find('.panel-footer').first().addClass('darken');
        $(this).find('.panel-body').first().addClass('whiten');
        $(this).find('.overlay-div').first().show();
        console.log( $(this).find('.panel-footer').first().attr('class'))
      },function(){
         $(this).find('.panel-body').first().removeClass('whiten');
        $(this).find('.panel-footer').first().removeClass('darken');
        $(this).find('.overlay-div').first().hide();
      });

      $('body').on('hidden.bs.modal', '.modal', function () {
        if($(this).find('.modal-dialog').first().hasClass('modal-sm')){
          $(this).find('.modal-dialog').first().removeClass("modal-sm");
        }
          $(this).removeData('bs.modal');
      });

      $(document).on('click','.custom-edit-icon', function(e){
          e.stopPropagation()
         url = $(this).attr('data-folder-edit-path');
         console.log('The value of the uel is ',url);
        $('#myModal').modal({
          remote: url
        })
      });

      $(document).on('click','.modal_link', function(e){
          e.stopPropagation()
         url = $(this).attr('data-folder-path');
         console.log('The value of the uel is ',url);
        $('#myModal').modal({
          remote: url
        })
      });

      $('.time').each(function(){
        $(this).html('updated '+moment($(this).html(), "YYYYMMDD").fromNow());
      });

    })

  </script>
</div>

</body>
</html>