<!DOCTYPE html>
<html>
<head>
  <title>Travelblog</title>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxDmirbK9yzvj9SIUK5ZwLFnDo1c-ksbY"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'graphs/d3', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'graphs/nvd3', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'graphs/src/tooltip', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'graphs/src/utils', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'graphs/src/models/legend', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'graphs/src/models/axis', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'graphs/src/models/multiBar', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'graphs/src/models/multiBarChart', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'timelineJS/timeline', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'timelineJS/embed', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'codemirror/codemirror', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'codemirror/theme/monokai', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'codemirror/codemirror', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'codemirror/addon/edit/matchbrackets', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'codemirror/mode/xml/xml', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'codemirror/mode/css/css', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'codemirror/mode/javascript/javascript', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'codemirror/mode/vbscript/vbscript', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'codemirror/mode/htmlmixed/htmlmixed', 'data-turbolinks-track' => true %>

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1"/></head>
<body>
<%= bootstrap_flash %>
<%= yield %>
</body>
</html>